*{
	margin: 0;
	padding: 0;
}

#mask{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 99;
}

#popup{
	position: fixed;
	width: 400px;
	height: 300px;
	left: 50%;
	top: 50px;
	margin-left: -200px;
	z-index: 100;

	.pic-view{
		position: relative;
		border:5px solid #fff; 
		border-radius: 3px;
		overflow: hidden;
		background: url(../img/icon/loading.gif) no-repeat center center;

		.btn{
			position: absolute;
			width: 40%;
			height: 100%;

			&.prev{
				left: 0;

				&.show{
					background: url(../img/icon/prev.png) no-repeat left center;
					cursor:pointer;
				}
			}
			&.next{
				right: 0;

				&.show{
					background: url(../img/icon/next.png) no-repeat right center;
					cursor:pointer;
				}
			}
		}

		.image{
			width: 100%;
		}
	}

	.pic-caption{
		position: relative;
		margin:0 5px;
		margin-top: -60px;
		background: rgba(0,0,0,.5);

		.caption-area{
			color:#fff;
			padding:10px 5px;

			.index{
				color:#999;
			}
		}

		.btn-close{
			position: absolute;
			right: 10px;
			top: 13px;

			width: 27px;
			height: 27px;
			background: url(../img/icon/close.png) no-repeat center center;
		}
	}
}

.g-wrap{
	img{
		width: 100px;
		height: 100px;
	}
}